:root {
    --elmgreen: #1a936f;
    --tradewind: #4eb1a6;
    --aquaisland: #a7dadc;
    --cornfield: #f9f7c3;
    --coral: #f98348;

}
.tableheading {
background-color: var(--aquaisland);
}

.card {
    border: none !important;}

h1, h2 {
    font-family: 'Barlow Condensed';
}

p {
    font-family: 'Montserrat'
}

#footer {
    background-color: var(--elmgreen);
}

#browse {
    background-color: var(--cornfield);
}

.navbar {
    background-color: var(--aquaisland);
}

.orangeBtn {
    background-color: var(--coral);
    color: white;
}

.card-img {
    /* width: 550px;
    height: 150px;
    object-fit: cover; */

}

.card {
    /* padding: 5rem; */
}